<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
		<add name="sqlConnectionString" connectionString="Data Source=DESKTOP-1J1P2R9\SQLEXPRESS; Initial Catalog=FPdatabase; Integrated Security=True;"/>
	</connectionStrings>
</configuration>